.btn{
    font-size:24px;
 font-weight: 700;
 color:yellow;
padding-top:10px;
padding-bottom:10px;
padding-right:20px;
padding-left:20px;
margin:40px; 
}
.btn:hover{
    color:red;
}
.text {
    font-size:18px;
    font-style: italic;
}
